.Card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 300px;
    /* background: radial-gradient(circle,rgba(251,251,251,1) 0%,rgba(200,200,200,1) 100%); */
    padding: 15px;
    margin: 10px auto;
    text-decoration: none;
    list-style: none;
    margin: 10px 10px;
    border: 1px solid green;
}
img {
    width: 100px;
    border-radius: 4%;
}
.ItemFooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
}
