.FormContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.Form{
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    width: 800px;
    justify-content: center;
    align-items: center;
}

input {
    align-items: center;
    margin: 10px 30px;
    border: none;
    height: 30px;
    width: 300px;
}