nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(236, 235, 235);
    margin-top: -5px;
    border-bottom: 1.5px solid rgba(128, 127, 127, 0.541);

}
div {
    display: flex;
}
.marca{
    padding: 5px;
    margin:auto 10px;
    font-size: 13px;
}
.logo{
    width: 90px;
    height: 60px;
}
.carrito{
    margin: auto 20px;
    scale: 0.8;
}
